<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>ss-qrcode</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript" src="qrcode.min.js"></script>
    </head>
    <body>
        {% for name, code in codes.items() %}
        <h3>{{name}}</h3>
        <div id="qrcode_{{name}}" style="width:400px; height:400px; margin-top:15px;">
        </div>
        <script type="text/javascript">
            var qrcode = new QRCode(document.getElementById("qrcode_{{name}}"), {
                width : 400,
                height : 400
            });
            qrcode.makeCode('{{code}}');
        </script>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        {% endfor %}
    </body>
</html>

